<div class="col-lg-12">
   <p> play!</p>
  

  <div class="row">
    <div class="col-sm-4">
      Dealer
      <!--dealear image ARRAY-->
      <!--dealer Dialog-->
    </div>
    <div class="col-sm-8">
     
        <md-grid-list cols="2" rowHeight="500px" >
          <md-grid-tile>
            <img src="https://deckofcardsapi.com/static/img/KH.png"/>
            
          </md-grid-tile>
          <md-grid-tile>
            <img src="https://deckofcardsapi.com/static/img/9H.png"/>
            
          </md-grid-tile>
        </md-grid-list>
         <div>
           <!--Controls-->
           <button md-raised-button color=“primary”>HIGHER</button>
           <button md-raised-button color=“primary”>LOWER</button>
        </div>
    </div>
   
  </div>

</div>
